/* =============
    Footer
============= */

footer{
    // background-color: var(--black);
    background-image: url("../Images/footer/footer.jpg");
    background-size: cover;
    background-position: center bottom;
    color: var(--white);
    padding-bottom: 32px;
    text-align: center;

    h2{
        padding-top: 200px;
        font-size: rem-calc(24);
        font-weight: 600;
        margin-bottom: 8px;
    }

    form{
        input{
            border-radius: 0;
            border: none;
        }
        button{
            background-color: var(--red);
            padding: 16px;
        }
    }

    ul{
        li{
            a{

            }
        }
    }
}
